
.align
{
    text-align:center;
    font-size: 30px;
    color:#1B74B1;
   // margin-top:60px;
}
div{
    margin-top:15px;
}
input{
    padding:15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
border-bottom: 2px solid #D5D5D5;

    
}
a
{
    text-decoration: none;
}
.list
{
    color:#1B74B1;
    font-size: 20px;
}
button{
  
    font-size:18px;
    border-radius: 10px;
}
.bg
{
    background-color: #1B73B0;
    color:white;
}
textarea{
    border-radius: 15px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #D5D5D5;
}
.blue
{
   color: #1B73B0;
}

img
{
    margin-top: 200px;
    width: 80%;
}
.bt{
    color:#1B74B1;
    background-color: white;
    border:1px solid #1B74B1;
    width:35%;
    padding: 8px;
    font-size: 20px;
}
.top50
{
    margin-top: 50px;
}
.top10
{
    margin-top: 20px;
}
.sign
{
    text-align:center;
    font-size: 35px;
}
