.size40{
    font-size:40px;
    text-align:center;
    color:rgb(43, 4, 4);

}
.section_01{
    background-image: url("../../assets/pink.jpg");
    background-size: cover;
    padding:100px;
}
input{
    padding:20px;
    font-size:20px;
    border-radius: 10px;
    
}
.size20{
    font-size: 20px;
}
button{
    padding:10px;
    border-radius: 10px;
    width:40%;
    border:none;
    font-size:20px;
   
}
button:hover{
    background-color: rgb(238, 223, 222);
}
.whtbg{
    background-color:white;
    padding:35px;
    margin-top:50px;
}