video
{
    width:100%;
    position: fixed;
}
.whtbg
{
    background-color: white;
    padding: 55px;
    margin-top:150px;
}
input{
    padding:15px;
    font-size: 18px;
    border-radius: 10px;
}
div{
    margin-top:15px;
}
h1{
    color:red;
    text-align: center;
}
.top35{
    margin-top:35px;
}
button{
    background-color:#4B7AF0;
    
    padding:12px;
    font-size:20px;
    color:white;
    border-radius: 10px;
    border:none;
    width: 100%;
    
}
button:hover{
    background-color:#87BBEA;
}
p{
    letter-spacing: 1px;
    font-size:18px;
}