h1{
    text-align:center;
    color:red;
}
.top20{
    margin-top:40px;
}
video{
    width:100%;
    position: fixed;
}
.whtbg{
    background-color: white;
    padding:35px;
    margin-top:100px
}
input{
    padding:15px;
    border-radius: 10px;
   
    font-size:18px;
}
.size18{
    font-size:18px;
}
textarea{
 
    font-size:18px;
    border-radius: 10px;
}
div{
    margin-top:12px;
}
button{
    background-color:#4B7AF0;
    padding:12px;
    font-size:20px;
    border-radius: 10px;
    color:white;
    border:none;
    width: 100%;
}
button:hover{
    background-color:#87BBEA;
}
p{
    letter-spacing: 1px;
}