.size40{
    font-size:40px;
    text-align:center;
    color:rgb(43, 4, 4);

}
.section_01{
    background-image: url("../../assets/bg.jpeg");
    background-size: cover;
    padding:100px;
}
input{
    padding:20px;
    font-size:20px;
    border-radius: 10px;
    
}
.size20{
    font-size: 20px;
}

.whtbg{
    background-color:white;
    padding:35px;
    margin-top:50px;
}
.bdr
{
    border:1px solid;
    width:100%
}
td{
    text-align:center;
    border:1px solid;
}
button{
    background-color:white;
    border:none;
}
